html{
    font-size: 14pt;
}

body{
    margin: 0pt;
    background-color: rgb(30,30,30);
}

#header{
    height: 0px;
    overflow: hidden;
}

/* HEADER */
#main-header{
    background-color: rgb(34,33,32);
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 0pt;
    border-bottom: 1pt solid brown;
    box-shadow: 0 0 10pt rgb(0, 0, 0.2);
}

/* LOGO HOME BOTTON */
#main-header #mainheaderlogo{
    width: 80pt;
    transition: all ease 0.3s;
    padding: 7pt 30pt 0 30pt;
}

#main-header #mainheaderlogo:hover{
    opacity: 90%;
    width: 86pt;
    padding: 4pt 27pt 0 27pt;
}

#main-header #mainheaderlogo img{
    border: 1pt solid;
    border-color: snow;
}

/* SOCIALS
margin-left displays them to the right */
#main-header #socials {
    display: flex;
    gap: 1vw;
    margin-right: 2vw;
    margin-left: auto; 
}

#main-header #socials img{
    max-width: 30pt;
    transition: all ease 0.3s;
}

#main-header #socials a{
    text-decoration: none;
}

#main-header #socials a:hover{
    opacity: 50%;
}

/* NAV PAGES */
#main-header ul{
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
    display: flex;
    align-items: left;
    gap: 10pt;
    transition: all ease .4s
}

#main-header ul a{
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    display: block;
    transition: all ease .4s;
    padding: 0 8vw;
    border-radius: 20pt 20pt 0 0;
}

#main-header ul a:hover{
    background-color: brown;
}

.active{
    background-color: rgb(111, 33, 33);
}

#dropdown-menu {
    display: none;

}

/* MEDIA QUERY
switch to hamburger menu on small screens */
@media (max-width: 670pt) {
    #main-header ul {
        display: none;
    }
    #dropdown-menu {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        background-color: snow;
        position: absolute;
        top: 50px;  /* Adjust as needed */
        left: 10px;  /* Adjust as needed */
        box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.1);
        padding: 10pt;
    }
    #dropdown-menu.show {
        visibility: visible;
        height: auto;
        opacity: 1;
    }
    #dropdown-menu a {
        padding: 10pt;
        color: #444;
        text-decoration: none;
    }
    #dropdown-menu a:hover {
        background-color: brown;
        color: snow;
    }
    #hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }
    #hamburger div {
        width: 25px;
        height: 3px;
        background-color: #444;
        margin: 4pt 0;
        transition: all 0.3s ease;
    }
    #hamburger:hover + #dropdown-menu, 
    #dropdown-menu:hover {
        visibility: visible;
        height: auto;
        opacity: 1;
    }
}